extends base.pug

block content 
    //- video(src="/" + video.fileUrl, controls)
    div
        p=video.description
        small=video.createdAt
    div
        small Uploaded by 
        small=video.hashtags

    a(href=`/videos/${video.id}/edit`) edit video &rarr;
    a(href=`${video.id}/delete`) Delete Video &rarr;

            //- a(href=`/users/${video.owner._id}`)=video.owner.name
    //- if String(video.owner._id) === String(loggedInUser._id)
    //-     a(href=`${video.id}/edit`) Edit Video &rarr;
    //-     br
    //-    